body{
  margin: 0px;
}
*{
  box-sizing: border-box;
}
.header{
  height :5rem;
  background-color: black;
  display :flex;
  align-items: center;
}
.color-pallete{
  height : 70%;
  width : 30%;
  background-color: grey;
  margin-right: 5rem;
  margin-left: 2rem;
  display:flex;
  align-items: center;
}

.color-boxes{
  height :100%;
  width: 25%;
  border :1px solid #7f8c8d ;
  display :flex;
  justify-content: center;
  align-items: center;
}
.color{
  height :50%;
  width:50%;
}
.pink{
  background-color: lightpink;
}
.green{
  background-color: lightgreen;
}
.blue{
  background-color: lightblue;
}
.black{
  background-color: black;
}
.options{
  height : 70%;
  width : 25%;
  background-color: #7f8c8d;
  display:flex;
}
.box{
  width:50%;
  height:100%;
  display:flex;
  justify-content: center;
  align-items: center;

}
.icon{
  color:white;
  font-size: 2rem;
}
