body{
  margin: 0px;
}
*{
  box-sizing: border-box;
}
.header{
  height :5rem;
  background-color: black;
  display :flex;
  align-items: center;
}
.color-pallete{
  height : 70%;
  width : 15rem;
  background-color: grey;
  margin-right: 5rem;
  margin-left: 2rem;
  display:flex;
  align-items: center;
  border-radius: 5%;

}

.color-boxes{
  height :100%;
  width: 25%;
  border :1px solid #7f8c8d ;
  display :flex;
  justify-content: center;
  align-items: center;
}
.color{
  height :50%;
  width:50%;
  border-radius:20%;
}
.pink{
  background-color: lightpink;
}
.green{
  background-color: lightgreen;
}
.blue{
  background-color: lightblue;
}
.black{
  background-color: black;
}
.options{
  height : 70%;
  width : 8rem;
  background-color: #7f8c8d;
  display:flex;
  border-radius: 5%;
  margin-right: 3rem;
}
.clicked{
  background-color: #343c36;
}
.box{
  width:50%;
  height:100%;
  display:flex;
  justify-content: center;
  align-items: center;
  border-radius:20%;


}
.icon{
  color:white;
  font-size: 2rem;
}
.main{
  height: 50rem;
    width: 100%;
    padding: 5rem;
    display: flex;
    flex-wrap: wrap;
}
.ticket{
  height: 10rem;
    width: 15rem;
    margin: 2rem;
}
.ticket-header{
  height: 10%;
}
.ticket-content{
  height :90%;
  padding :0.3rem;
}
.text-area{
    height: 90%;
    width: 100%;
    border: none;
    outline: none;
}
.rand-id{
  height :10%;
  width:100%;
  font-weight: bolder;
   background-color: white;
   font-family: sans-serif;
   color: #989393;
}
